@import '~bpk-mixins';

.App {
  background-color: $bpk-color-gray-50;

  &__wrapper {
    max-width: $bpk-spacing-lg * 20;
    margin: 0 auto;
  }

  &__row {
    padding: $bpk-spacing-base;
    background-color: $bpk-color-gray-100;

    @include bpk-breakpoint-above-mobile {
      padding: $bpk-spacing-xl;
    }

    &:nth-child(even) {
      background-color: $bpk-color-white;
    }

    &--intro {
      padding: $bpk-spacing-lg * 2 $bpk-spacing-base;
      background-color: $bpk-color-white;
    }
  }

  &__header {
    width: 100%;
    height: $bpk-one-pixel-rem * 200;
    background-image: url('http://jamesferguson.co.uk/bpk-newsletter/header-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include bpk-breakpoint-above-mobile {
      width: 100%;
      height: $bpk-one-pixel-rem * 300;
      background-image: url('http://jamesferguson.co.uk/bpk-newsletter/header-bg.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    // this is some weird stuff
    &--content {
      display: block;
      width: 70%;
      height: 100%;
      margin: 0 auto;
      background-image: url('http://jamesferguson.co.uk/bpk-newsletter/header-content.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @include bpk-breakpoint-above-mobile {
        display: block;
        width: 60%;
        height: 100%;
        margin: 0 auto;
        background-image: url('http://jamesferguson.co.uk/bpk-newsletter/header-content.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  &__greeting {
    margin: 0 0 $bpk-spacing-sm 0;

    @include bpk-text-xl;

    font-weight: bold;
  }

  &__sub-header {
    margin: 0 0 $bpk-spacing-sm 0;
    text-transform: uppercase;

    @include bpk-text-base;

    font-weight: bold;

    &::after {
      content: '';
      display: block;
      width: $bpk-spacing-lg;
      height: $bpk-one-pixel-rem * 3;
      margin: $bpk-spacing-sm 0 $bpk-spacing-lg 0;
      background-color: $bpk-color-blue-500;
    }
  }

  &__para {
    margin-top: 0;

    &--intro {
      margin: 0;
      color: $bpk-color-gray-500;

      @include bpk-text-lg;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &--highlights {
      padding: 0 0 0 $bpk-spacing-base;
      list-style-type: disc;
    }
  }

  &__list-item {
    display: block;
    margin: 0 auto $bpk-spacing-base auto;
    padding: $bpk-spacing-base;
    border-radius: $bpk-border-radius-sm;
    text-align: center;

    @include bpk-border-sm($bpk-color-gray-50)

      &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    @include bpk-breakpoint-above-mobile {
      display: inline-block;
      width: 32%;
      margin-right: $bpk-spacing-xs;
      margin-bottom: 0;
      border: none;
      text-align: center;
      vertical-align: middle;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    th {
      padding: $bpk-spacing-xs $bpk-spacing-sm;
      background-color: $bpk-color-gray-700;
      color: $bpk-color-white;
      text-align: left;

      @include bpk-text-sm;

      @include bpk-breakpoint-above-mobile {
        @include bpk-text-base;
      }

      font-weight: bold;
    }

    td {
      padding: $bpk-spacing-xs $bpk-spacing-sm;

      @include bpk-text-sm;

      @include bpk-breakpoint-above-mobile {
        @include bpk-text-base;
      }
    }

    tr {
      background-color: $bpk-color-gray-50;

      &:nth-child(even) {
        background-color: $bpk-color-white;
      }
    }
  }
}
